@font-face {
    font-family: 'IBMPlexSans';
    src: local("IBMPlexSans"), url("font/IBMPlexSans-Regular.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: local("IBMPlexSans-Italic"), url("font/IBMPlexSans-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexSans';
    src: local("IBMPlexSans-Bold"), url("font/IBMPlexSans-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
